include index
ul
    each item in userList= userList
        li=`${item.name} ${item.lastName}`



    form(action="/users" method="POST")
        input(type='text' name='name')
        input(type='text' name='lastName')
        input(type='submit')
